{
    "openapi": "3.0.0",
    "info": {
        "title": "Stafo API Documentation",
        "description": "API documentation for Stafo Backend application",
        "contact": {
            "email": "support@stafo.in"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://stafo.in",
            "description": "Stafo API Server"
        }
    ],
    "paths": {
        "/api/getcustomerlist": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Get customer list",
                "operationId": "04f57421d528b7d090006787952bb1b2",
                "responses": {
                    "200": {
                        "description": "Customer list fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user_list": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new Company",
                "description": "Registers a company along with owner details",
                "operationId": "registerCompany",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "company_info": {
                                        "properties": {
                                            "company_name": {
                                                "type": "string",
                                                "example": "Tech Solutions"
                                            },
                                            "email": {
                                                "type": "string",
                                                "example": "info@techsolutions.com"
                                            },
                                            "mobile_no": {
                                                "type": "string",
                                                "example": "9876543210"
                                            },
                                            "address": {
                                                "type": "string",
                                                "example": "123 Street"
                                            },
                                            "city": {
                                                "type": "string",
                                                "example": "Mumbai"
                                            },
                                            "state": {
                                                "type": "string",
                                                "example": "Maharashtra"
                                            },
                                            "pin": {
                                                "type": "string",
                                                "example": "400001"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "owner_info": {
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "example": "John Doe"
                                            },
                                            "email": {
                                                "type": "string",
                                                "example": "john@techsolutions.com"
                                            },
                                            "mobile": {
                                                "type": "string",
                                                "example": "9876543211"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "referral_code": {
                                        "type": "string",
                                        "example": "REF12345"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful registration"
                    },
                    "422": {
                        "description": "Validation Error"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Company Email/Password Login",
                "description": "Login using company email and password to receive Bearer Token",
                "operationId": "loginCompany",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@stafo.in"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful with Sanctum Token"
                    },
                    "401": {
                        "description": "Invalid Credentials"
                    }
                }
            }
        },
        "/api/send-otp": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Send OTP for Login",
                "description": "Sends a 6-digit OTP to the registered mobile number or email for Employee or Company login",
                "operationId": "sendOtp",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "mobile_number"
                                ],
                                "properties": {
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9876543210"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP sent successfully"
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/api/verify-otp": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Verify OTP & Login",
                "description": "Verifies the 6-digit OTP and authenticates the user, returning a Sanctum Bearer Token and user details",
                "operationId": "loginWithOtp",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "mobile_number",
                                    "otp"
                                ],
                                "properties": {
                                    "mobile_number": {
                                        "type": "string",
                                        "example": "9876543210"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "example": "123456"
                                    },
                                    "device_id": {
                                        "type": "string",
                                        "example": "device_unique_id_123"
                                    },
                                    "fcm_token": {
                                        "type": "string",
                                        "example": "fcm_device_token_xyz"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful with Sanctum Token"
                    },
                    "400": {
                        "description": "Invalid OTP"
                    }
                }
            }
        },
        "/api/change-device": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Request or process device change",
                "description": "Submits a device change request or approves it for an employee or company",
                "operationId": "changeDevice",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "employee_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "company_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "device_id": {
                                        "type": "string",
                                        "example": "abc123deviceid"
                                    },
                                    "device_name": {
                                        "type": "string",
                                        "example": "Samsung Galaxy S22"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "pending",
                                            "approve"
                                        ],
                                        "example": "pending"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Device change processed"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/company/approve-device": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Approve or Reject Employee Device Request",
                "description": "Allows company admin to approve or reject employee device change request",
                "operationId": "approveDeviceRequest",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "employee_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "approve",
                                            "reject"
                                        ],
                                        "example": "approve"
                                    },
                                    "device_id": {
                                        "type": "string",
                                        "example": "abc123deviceid"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Device status updated"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/device-requests-list": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "List Device Change Requests",
                "description": "Returns list of pending/approved/rejected employee device requests",
                "operationId": "listDeviceRequests",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "company_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "pending",
                                            "approved",
                                            "rejected"
                                        ],
                                        "example": "pending"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Device requests retrieved"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/api-providers/list": {
            "get": {
                "tags": [
                    "API Provider"
                ],
                "summary": "List all API Providers",
                "operationId": "d6525f00ec2674dd2b1ac817f6af2d4e",
                "responses": {
                    "200": {
                        "description": "API Provider list fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "API Provider list fetched successfully."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/api-providers/create": {
            "post": {
                "tags": [
                    "API Provider"
                ],
                "summary": "Create new API Provider",
                "operationId": "59946975756210bc00a7f45528333f27",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "api_id",
                                    "operator_id",
                                    "api_code",
                                    "api_provider_code"
                                ],
                                "properties": {
                                    "api_id": {
                                        "type": "string",
                                        "example": "1"
                                    },
                                    "operator_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "api_code": {
                                        "type": "string",
                                        "example": "APICODE01"
                                    },
                                    "api_provider_code": {
                                        "type": "string",
                                        "example": "PROV01"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "API Provider created successfully."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/api-providers/details/{id}": {
            "get": {
                "tags": [
                    "API Provider"
                ],
                "summary": "Get single API Provider details",
                "operationId": "6164a9c90de711263e11e6f9919b7bf3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "API Provider ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "API Provider fetched successfully."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/api-providers/update/{id}": {
            "post": {
                "tags": [
                    "API Provider"
                ],
                "summary": "Update an API Provider",
                "operationId": "651f9db0f5dd30569516a6055fe2c1f7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "API Provider ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "api_id": {
                                        "type": "string",
                                        "example": "1"
                                    },
                                    "operator_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "api_code": {
                                        "type": "string",
                                        "example": "APICODE02"
                                    },
                                    "api_provider_code": {
                                        "type": "string",
                                        "example": "PROV02"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "API Provider updated successfully."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/api-providers/delete/{id}": {
            "delete": {
                "tags": [
                    "API Provider"
                ],
                "summary": "Delete an API Provider",
                "operationId": "7db46551a51a8991beec10b1ee79e8ca",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "API Provider ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "API Provider deleted successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/report/export-attendace": {
            "post": {
                "tags": [
                    "Reports"
                ],
                "summary": "Export attendance report",
                "operationId": "22d83ae43eb7e1d10dc6713605c80b48",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "company_id",
                                    "start_date",
                                    "end_date",
                                    "format"
                                ],
                                "properties": {
                                    "company_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-09-01"
                                    },
                                    "end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-09-30"
                                    },
                                    "format": {
                                        "type": "string",
                                        "enum": [
                                            "excel",
                                            "pdf",
                                            "csv"
                                        ],
                                        "example": "excel"
                                    },
                                    "department": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "branch": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Report generated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Attendance Excel file has been generated."
                                        },
                                        "download_url": {
                                            "type": "string",
                                            "example": "https://stafo.in/uploads/excel/attendance_report_20260901_to_20260930.xlsx"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/attendace/reports/list": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Get all generated attendance reports list",
                "operationId": "a271955bd807910799fdbfcc5a2ba260",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Reports listed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Attendance reports generated for this company."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/attendance-list": {
            "get": {
                "tags": [
                    "Attendance"
                ],
                "summary": "List Employee Attendances",
                "operationId": "getAttendanceList",
                "parameters": [
                    {
                        "name": "employee_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "month",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2026-09"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendances retrieved successfully"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance": {
            "post": {
                "tags": [
                    "Attendance"
                ],
                "summary": "Manual Attendance Entry",
                "operationId": "addAttendanceManual",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "branch_id",
                                    "employee_id",
                                    "department_id",
                                    "attendance",
                                    "date",
                                    "in_time"
                                ],
                                "properties": {
                                    "branch_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "employee_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "department_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "attendance": {
                                        "type": "string",
                                        "enum": [
                                            "Present",
                                            "Absent",
                                            "Leave"
                                        ],
                                        "example": "Present"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-09-26"
                                    },
                                    "in_time": {
                                        "type": "string",
                                        "example": "09:30"
                                    },
                                    "out_time": {
                                        "type": "string",
                                        "example": "18:30"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Attendance created successfully"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance/update/{id}": {
            "post": {
                "tags": [
                    "Attendance"
                ],
                "summary": "Update attendance record",
                "operationId": "f7037b7d1bdf490edfb1373e1e48337f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attendance ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "attendance": {
                                        "type": "string",
                                        "enum": [
                                            "Present",
                                            "Absent",
                                            "Leave"
                                        ],
                                        "example": "Present"
                                    },
                                    "in_time": {
                                        "type": "string",
                                        "example": "09:30:00"
                                    },
                                    "out_time": {
                                        "type": "string",
                                        "example": "18:30:00"
                                    },
                                    "halfday": {
                                        "type": "integer",
                                        "example": 0
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Attendance updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Attendance updated successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance-request": {
            "post": {
                "tags": [
                    "Attendance"
                ],
                "summary": "Submit Attendance Regularization Request",
                "operationId": "createAttendanceRequest",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "branch_id",
                                    "employee_id",
                                    "department_id",
                                    "attendance",
                                    "date",
                                    "in_time"
                                ],
                                "properties": {
                                    "branch_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "employee_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "department_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "attendance": {
                                        "type": "string",
                                        "enum": [
                                            "Present",
                                            "Absent",
                                            "Leave"
                                        ],
                                        "example": "Present"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-09-26"
                                    },
                                    "in_time": {
                                        "type": "string",
                                        "example": "09:30"
                                    },
                                    "out_time": {
                                        "type": "string",
                                        "example": "18:30"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Attendance request created successfully"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance-request-list": {
            "get": {
                "tags": [
                    "Attendance"
                ],
                "summary": "List Attendance Requests",
                "operationId": "getAttendanceRequestList",
                "parameters": [
                    {
                        "name": "employee_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendance requests retrieved successfully"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/attendance-request-status-update/{id}": {
            "post": {
                "tags": [
                    "Attendance"
                ],
                "summary": "Approve or reject attendance request",
                "operationId": "fab40502a4a5f4c08b7a1adf0765efdc",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Attendance Request ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status"
                                ],
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "Approved",
                                            "Rejected"
                                        ],
                                        "example": "Approved"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Status updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Attendance request updated successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/bank-accounts": {
            "get": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "List bank details of all employees",
                "operationId": "getBankAccountsList",
                "responses": {
                    "200": {
                        "description": "Bank accounts fetched successfully"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/bank-accounts/employee/{employee_id}": {
            "get": {
                "tags": [
                    "Bank Accounts"
                ],
                "summary": "Fetch bank account details for a specific employee",
                "operationId": "getEmployeeBankAccount",
                "parameters": [
                    {
                        "name": "employee_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bank details fetched successfully"
                    },
                    "404": {
                        "description": "No bank account found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/bbps/categories": {
            "get": {
                "tags": [
                    "BBPS"
                ],
                "summary": "Get all BBPS categories",
                "operationId": "d984386c3ffcf4cdadae9d9c29125db3",
                "responses": {
                    "200": {
                        "description": "Categories retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "BBPS"
                ],
                "summary": "Create a BBPS category",
                "operationId": "b5dd3ca1877f2f4a94f73d7627ec1fcc",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Electricity"
                                    },
                                    "img": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/bbps/categories-update/{id}": {
            "post": {
                "tags": [
                    "BBPS"
                ],
                "summary": "Update a BBPS category",
                "operationId": "7c8f5d3b71f4fb7bf80ae80786779cf7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Water"
                                    },
                                    "img": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Category updated successfully."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/bbps/categories-delete/{id}": {
            "delete": {
                "tags": [
                    "BBPS"
                ],
                "summary": "Delete a BBPS category",
                "operationId": "93ecef58ae47ccc373364bec74375c62",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Category deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/bbps-operators/list": {
            "post": {
                "tags": [
                    "BBPS"
                ],
                "summary": "List BBPS operators by category",
                "operationId": "2131710d38d7cc017ee5a900c9e7e37a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "category"
                                ],
                                "properties": {
                                    "category": {
                                        "type": "string",
                                        "example": "Electricity"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operator list fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operator list fetched successfully."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/bbps-operators/create": {
            "post": {
                "tags": [
                    "BBPS"
                ],
                "summary": "Create a new BBPS operator",
                "operationId": "9a858e968a3f83a2c6c716b5773023d6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "operator_code",
                                    "category"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "BSPHCL"
                                    },
                                    "operator_code": {
                                        "type": "string",
                                        "example": "BSPH001"
                                    },
                                    "category": {
                                        "type": "string",
                                        "example": "Electricity"
                                    },
                                    "status": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operator created successfully."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/bbps-operators/details/{operator_code}": {
            "get": {
                "tags": [
                    "BBPS"
                ],
                "summary": "Get BBPS operator details and parameters",
                "operationId": "2a7f21554ab143fad7231bb156458684",
                "parameters": [
                    {
                        "name": "operator_code",
                        "in": "path",
                        "description": "BBPS Operator Code",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "BSPH001"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operator details fetched",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "refid": {
                                            "type": "string",
                                            "example": "ABC12345"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "mdmRequestNew": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/bbps-operators/update/{id}": {
            "post": {
                "tags": [
                    "BBPS"
                ],
                "summary": "Update a BBPS operator",
                "operationId": "1411801d9ec9d77106bd80b6bc79b957",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Operator ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "BSPHCL Updated"
                                    },
                                    "status": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operator updated successfully."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/bbps-operators/delete/{id}": {
            "delete": {
                "tags": [
                    "BBPS"
                ],
                "summary": "Delete a BBPS operator",
                "operationId": "9a6e9b090e8e47496827de39c8643384",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Operator ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Operator deleted successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/bbps-sub-category/list": {
            "get": {
                "tags": [
                    "BBPS"
                ],
                "summary": "Get BBPS sub categories list",
                "operationId": "62c9851bf3971132819fb78ad0e8f21d",
                "responses": {
                    "200": {
                        "description": "Sub category list fetched successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sub category list fetched successfully."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/bbps-sub-category/create": {
            "post": {
                "tags": [
                    "BBPS"
                ],
                "summary": "Create a BBPS sub category",
                "operationId": "94093ceaac188cc9bcbdcabd00231b9c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "category",
                                    "name"
                                ],
                                "properties": {
                                    "category": {
                                        "type": "string",
                                        "example": "Electricity"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "North Bihar Power"
                                    },
                                    "img": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/bbps-sub-category/update/{id}": {
            "post": {
                "tags": [
                    "BBPS"
                ],
                "summary": "Update a BBPS sub category",
                "operationId": "19d2000c76e1c8a15786ffac2b7eb7c0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Sub Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "category": {
                                        "type": "string",
                                        "example": "Electricity"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "South Bihar Power"
                                    },
                                    "img": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sub-category updated successfully."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/bbps-sub-category/delete/{id}": {
            "delete": {
                "tags": [
                    "BBPS"
                ],
                "summary": "Delete a BBPS sub category",
                "operationId": "3808cad5bc09a8aa074ac8020c9ac6ad",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Sub Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "sub Category deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/branch/list": {
            "get": {
                "tags": [
                    "Branches"
                ],
                "summary": "List Company Branches",
                "description": "Fetches branches for a company",
                "operationId": "getBranchList",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Branches retrieved successfully"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/branch/create": {
            "post": {
                "tags": [
                    "Branches"
                ],
                "summary": "Create a new Branch",
                "operationId": "createBranch",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "company_id",
                                    "branch_name",
                                    "branch_address"
                                ],
                                "properties": {
                                    "company_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "branch_name": {
                                        "type": "string",
                                        "example": "Main Branch"
                                    },
                                    "branch_address": {
                                        "type": "string",
                                        "example": "Plot 10, City Center"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Branch created successfully"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/branch/update/{id}": {
            "post": {
                "tags": [
                    "Branches"
                ],
                "summary": "Update Branch Details",
                "operationId": "updateBranch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "company_id",
                                    "branch_name",
                                    "branch_address"
                                ],
                                "properties": {
                                    "company_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "branch_name": {
                                        "type": "string",
                                        "example": "Main Branch Updated"
                                    },
                                    "branch_address": {
                                        "type": "string",
                                        "example": "Plot 10, City Center"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Branch updated successfully"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/branch/delete/{id}": {
            "delete": {
                "tags": [
                    "Branches"
                ],
                "summary": "Delete a Branch",
                "operationId": "deleteBranch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Branch deleted successfully"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/business-types": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get all business types",
                "operationId": "4505fb818d65008be1376c111a050115",
                "responses": {
                    "200": {
                        "description": "Business types retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Company"
                ],
                "summary": "Create a new business type",
                "operationId": "6b25d72b9a817013066f67ac43d48359",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "business_name",
                                    "status"
                                ],
                                "properties": {
                                    "business_name": {
                                        "type": "string",
                                        "example": "IT & Software"
                                    },
                                    "status": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Business type created successfully."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/chat/send": {
            "post": {
                "tags": [
                    "Chat"
                ],
                "summary": "Send a chat message",
                "operationId": "adb305cdfba5c49fd1951dfc426a5e48",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "company_id",
                                    "message"
                                ],
                                "properties": {
                                    "company_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "message": {
                                        "type": "string",
                                        "example": "Hello support, need assistance."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Chat sent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Chat send successfully."
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/chat/get": {
            "post": {
                "tags": [
                    "Chat"
                ],
                "summary": "Get chat history for company",
                "operationId": "24ac15f8db693543b6a2825689118344",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "company_id"
                                ],
                                "properties": {
                                    "company_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Chats retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Chats retrieved successfully."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/company/update": {
            "post": {
                "tags": [
                    "Company"
                ],
                "summary": "Update Company Details",
                "description": "Update profile details and proprietor information of authenticated company",
                "operationId": "updateCompany",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "company_name": {
                                        "type": "string",
                                        "example": "Tech Corp"
                                    },
                                    "company_type": {
                                        "type": "string",
                                        "example": "Private Limited"
                                    },
                                    "mobile_no": {
                                        "type": "string",
                                        "example": "9876543210"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "info@techcorp.com"
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "123 Corporate Blvd"
                                    },
                                    "city_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "state_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "country_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "pin": {
                                        "type": "string",
                                        "example": "110001"
                                    },
                                    "gst_number": {
                                        "type": "string",
                                        "example": "07AAAAA0000A1Z5"
                                    },
                                    "pan_number": {
                                        "type": "string",
                                        "example": "ABCDE1234F"
                                    },
                                    "owner_info": {
                                        "properties": {
                                            "first_name": {
                                                "type": "string",
                                                "example": "John"
                                            },
                                            "last_name": {
                                                "type": "string",
                                                "example": "Doe"
                                            },
                                            "mobile": {
                                                "type": "string",
                                                "example": "9876543211"
                                            },
                                            "email": {
                                                "type": "string",
                                                "example": "john@techcorp.com"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Company details updated successfully"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/company/profile": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Get authenticated company profile",
                "description": "Fetches company information, proprietor details, and company logo",
                "operationId": "showCompanyProfile",
                "responses": {
                    "200": {
                        "description": "Company profile fetched successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/document-verify": {
            "post": {
                "tags": [
                    "Company"
                ],
                "summary": "Verify document (PAN, Aadhaar, Voter, GSTIN, DL, etc.)",
                "operationId": "documentVerify",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "pan",
[...]
